export(partColMeans)
export(partCov)
export(pcaScores)
export(partRange)
export(partMean)
export(partSsd)
export(subsetByClass)
export(partKde2d)
export(suggestPivotFormula)
export(widen)
export(showInfo)
export(scaleDS)
export(join)
export(partialData)
export(coxphDS)
export(addDaysInterval)
export(groupedDataDS)
export(nlme_lmeDS)
export(colnamesDS)
