export(partColMeans)
export(partCov)
export(pcaScores)
export(partRange)
export(partMean)
export(partSsd)
export(subsetByClass)
export(partKde2d)
export(suggestPivotFormula)
export(widenDSS)
export(showInfo)
export(scaleDSS)
export(joinDSS)
export(partialData)
export(coxphDSS)
export(clogitDSS)
export(addDaysInterval)
export(groupedDataDSS)
export(nlme_lmeDSS)
export(colnamesDSS)
export(snfDSS)
export(deriveColumn)
export(dimDSS)
export(setOptionDSS)
export(getOptionDSS)
export(selfUpgrade)
export(biocInstall)
export(cutDSS)
export(isUnique)
export(partialKmeans)
export(rbindDSS)
export(safeSubset)
export(VIMDSS)
export(GRridgeDSS)
export(fullData)
export(forestDSS)
export(tDSS)
export(synthpopDSS)
export(asDSS)
export(HmiscDSS)
export(makeFactorsDSS)
export(linregSS)
